* {
    box-sizing: border-box;
    font-size: 16px;
}

#myCanvas {
    border: 2px solid black;
    display: block;
}

.canvasContainer {
    width:70%;
    height: auto;
    float: left;
    margin-top: 20px;
}

.inputsContainer {
    width:30%;
    height: auto;
    float: left;
    margin-top: 20px;
    padding-left: 20px;
}

input {
    width: 53%;
    margin-bottom: 20px;
    line-height: 30px;
    padding-left: 5px;
    display: block;
}

button {
    background-color: darkslateblue;
    width:25%;
    padding: 5px;
    float: left;
    margin-right: 10px;
    color: white;
}